.headerCont
{
  display: flex;
  height: 60px;
  background-color: #000;
  color: #FFF;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 8px solid #ff9800;
  text-transform: capitalize;
}
.labelstr
{
  line-height: 43px;
  font-size: 27px;
  margin: auto;
  font-weight: bold;
}
.footerCont
{
  height: 60px;
  background-color: #000;
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 8px solid #ff9800;
  display: flex;
  justify-content: center;
}
